---
layout: archive
---

{{ content }}

{% assign categories_max = 0 %}
{% for category in site.categories %}
  {% if category[1].size > categories_max %}
    {% assign categories_max = category[1].size %}
  {% endif %}
{% endfor %}

{% comment %}
<!-- below is limited only in the case with all posts having a pair of (parent and child) categories -->
{% endcomment %}

{% capture posts_name %}{% assign my_posts = site.posts | group_by: 'categories' %}{% for my_post in my_posts %}{% assign post_name = my_post.name | remove: "[" | remove: "]" | remove: '"' %}{{ post_name }}{% unless forloop.last %}|{% endunless %}{% endfor %}{% endcapture %}
{% assign integrated_categories_names = posts_name | split: "|" | sort %}
{% assign finished_categories = "nil, nil" | split: ", " %}

<ul class="taxonomy__index">
  {% for integrated_categories_name in integrated_categories_names %}
    {% assign pair_categories = integrated_categories_name | split: ", " %}
    {% unless finished_categories contains pair_categories[0] %}
      {% unless forloop.first %}
        </li>
      {% endunless %}
      <li>
        {% for category in site.categories %}
          {% if pair_categories[0] == category[0] %}
            <a href="#{{ category[0] | slugify }}">
              <strong>{{ category[0] }}</strong> <span class="taxonomy__count">{{ category[1].size }}</span>
            </a>
            {% break %}
          {% endif %}
        {% endfor %}
        {% assign finished_categories = finished_categories | concat: pair_categories %}
    {% endunless %}
    <ul class="taxonomy__subindex">
      <li>
        {% for category in site.categories %}
          {% if pair_categories[1] == category[0] %}
            <a href="#{{ category[0] | slugify }}">
              <strong>{{ category[0] }}</strong> <span class="taxonomy__count">{{ category[1].size }}</span>
            </a>
            {% break %}
          {% endif %}
        {% endfor %}
      </li>
    </ul>
  {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% for i in (1..categories_max) reversed %}
  {% for category in site.categories %}
    {% if category[1].size == i %}
      <section id="{{ category[0] | slugify | downcase }}" class="taxonomy__section">
        <h2 class="archive__subtitle">{{ category[0] }}</h2>
        <div class="entries-{{ entries_layout }}">
          {% for post in category.last %}
            {% include archive-single.html type=entries_layout %}
          {% endfor %}
        </div>
        <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
      </section>
    {% endif %}
  {% endfor %}
{% endfor %}
